@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  font-family: "Nanum Pen Script", cursive;
}

.test-div {
  width: 50px;
  height: 50px;
  background-color: aqua;
}

#test-div {
  width: 100px;
  height: 100px;
  background-color: red;
}

.background-img {
  width: 300px;
  height: 300px;
  background-image: url("wine-7046276_640.jpg");

  background-size: 100px 100px;
  background-repeat: no-repeat;
  /* background-position: 20px 20px; */
  background-position: center;
  background-attachment: local;
}

table {
  /* border 겹치기 */
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}
