div {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

#transform-translate img {
  transform: translate(100px, 100px);
}

#transform-translateX img {
  transform: translateX(100px);
}

#transform-translateY img {
  transform: translateY(100px);
}

#transform-scale img {
  transform: scale(2, 2);
}

#transform-scaleX img {
  transform: scaleX(2);
}

#transform-scaleY img {
  transform: scaleY(2);
}

#transform-skew img {
  transform: skew(15deg, 30deg);
}

#transform-skewX img {
  transform: skewX(45deg);
}

#transform-skewY img {
  transform: skewY(60deg);
}

#transform-rotate img {
  transform: rotate(45deg);
}

#transform-origin img {
  transform: rotate(45deg);
  transform-origin: 0 0;
}

#transition img {
  transition: transform 3s ease, border 2s linear, border-radius 2s linear;
}

#transition img:hover {
  transform: rotate(360deg);
  border: 2px solid black;
  border-radius: 100%;
}

@keyframes animationTest {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#animation img:hover {
  animation: animationTest 3s ease 3;
}

@media only screen and (min-width: 500px) {
  body {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    width: 30%;
  }
}
