form fieldset {
  display: flex;
  /* width: 500px; */
  flex-direction: column;
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  align-items: baseline;
}

form fieldset div {
  display: flex;
  /* width: 100px; */
  flex-direction: row;
  justify-content: space-between;
}

#grid-container {
  display: grid;
  /* grid-template-columns: 200px 100px;
  grid-template-rows: 100px 200px; */

  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

#header {
  grid-area: header;
}
#sidebar {
  grid-area: sidebar;
}
#content {
  grid-area: content;
}
#footer {
  grid-area: footer;
}
